
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arr{
  padding: 6px 10%;

}

.h_bg{
  position: relative;
  background-color: darkblue;
  background-image: url(../img/fluentify-jumbo.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
}

.bar{
  background-color: darkblue;
}

.bar img{
  display: inline-block;
  float: left;
  width: 40px;
}

.nav1{
  text-align: center;
  margin-top: 10px;
  display: inline-block;
  width: 48%;
  margin-left: 10%;
}

 ul li{
   color: white;
   text-decoration: none;
   padding: 4px 16px;
  display: inline-block;
}

li a{
  color: white;
  text-decoration: none;
}

.nav2{
  display: inline-block;
  margin-top: 10px;
  float: right;
  text-align: right;
  width: 30%;
}

.nav2 > *:not(p){
  text-decoration: none;
  background-color: red;
  margin: 0 2px;
  border: 2px solid black;
  padding: 1px;
}

.nav2 p{
  display: inline-block;
  padding: 5px;
}

/* MAIN */


.textj > h1{
  position: absolute;
  top: 36%;
  left: 10%;
}

.textj > h3{
  position: absolute;
  top: 48%;
  left: 10%;
}

.bellow_h{
  position: relative;
  text-align: center;
  background-color: lightgrey;
  padding: 4%;
}

.txt2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.riga{
  background-color: white;
  border-bottom: grey solid 3px;
}

.riga::after {
  content: "";
  display: table;
  clear: both;
}

  /* PRIMA COLONNA */


.a1 {
  text-align: center;
  margin: 3% 0;
  float: left;
  background-color: white;
  width: 33%;
}

.img1x1{
  text-align: center;
  width: 120px;
      height: 120px;
  margin-left: 50%;
  margin-bottom: 6%;
  transform: translateX(-50%);

  }

.a1 h3{
  width: 85%;
  color: green;
  margin-left: 8%;
}

.a1 .hr1{
  margin-left: 40%;
  top: 81%;
  margin-top: 2%;
  width: 20%;
  border-bottom: 2px solid grey;
}

.a1 p{
  margin-top: 2%;
  padding: 0 11px;
}

.x2{
  float: left;
  text-align: left;
  width: 40%;
  margin-left: 4%;
}

.x2 > h2, .x2 > p {
  margin-top: 10px;
}

.col2{
  background-color: white;
}

.col2::after {
  content: "";
  display: table;
  clear: both;
}

.pseudo_f{
  padding: 4% 10%;
  position: relative;
  background-color: lightgrey;
}

.pseudo_f > h3{
  display: inline-block;
  color: green;
  float: left;
}

.pseudo_f p{
  display: inline-block;
  float: right;

}

p a{
  border-radius: 15px;
  text-decoration: none;
  background-color: green;
  margin: 0 2px;
  border: 2px solid black;
  padding: 10px;
}
